# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/backup
/mockups
/original
/tests

# production
/build

# database
/database_backup
contacts.json
ContactsCleanedComma.csv
startjson.sh
Thumbs.db