li:hover {
  background-color: grey;
  transition: background-color 800ms;
  cursor: pointer;
  /* font-size: 150%; */
}
#id {
  display: none;
}
.form-control::-moz-placeholder {
  color: red;
  opacity: 0.6;
}
.form-control::placeholder {
  color: red;
  opacity: 0.6;
}

#myList li {
  list-style: none;
  margin-left: -27px;
}

/* .EventEvery {
  margin-left: -40px;
  list-style: none;
} */
.EventAlternate {
  background-color: rgb(204, 231, 243);
}

@media only screen and (min-width: 768px) {
  .bartkaRow {
    height: 50vh;
  }
}

#backButton,
#nextButton {
  width: 45px;
}

#backButton,
#nextButton,
#PrevDay,
#NextDay {
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 0px;
  border-radius: 5px;
  height: 23px;
}
