li:hover {
  background-color: grey;
  transition: background-color 800ms;
  cursor: pointer;
  /* font-size: 150%; */
}
li {
  text-decoration: none;
  list-style: none;
}

#id {
  display: none;
}
.form-control::-moz-placeholder {
  color: red;
  opacity: 0.6;
}
.form-control::placeholder {
  color: red;
  opacity: 0.6;
}
